{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joe k Bullard</title>
</head>
<body>
    <div class="container">
    {% block content %}
    <h1 class="title">Joe K Bullard</h1>
    <p>Thoughts and ramblings on geospatial, python and postgres.</p>
    {% for post in all_posts_list %}
    <ul class="posts">
    <li class="post">
        <a href="{{ post.get_absolute_url }}">
            <date>{{ post.created }}</date>
            <span>{{ post.title }}</span>
        </a>
    </li>
    </ul>
    {% endfor %}
    

    {% endblock content %}

</div>
</body>
</html>