<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}
    {% load markdownify %}
    {% block content %}
    <h1>Test header</h1>

    {% for post in all_posts_list %}
    <div>
        <h2>{{ post.title }}</h2>
        <p>{{ post.body|markdownify }}</p>
    </div>
    <hr>
    {% endfor %}
    {% endblock content %}

    
</body>
</html>