<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    {% extends 'base.html' %}
    
    {% block content %}
    <h1>About me</h1>
    <p>
        Thanks for taking the time to check out my blog. If you're interested in ecology 
        related and spatial applications of python & PostgreSQL/postgis (with a side 
        serving of linux/raspberry pi), then you've come to the right place.
        I started this site out of desire to keep a track of my thoughts and workings, 
        if it means I end up helping someone else out along the way then all the better. 
        Anyhow, I don't really like writing about myself all that much so I'll leave it at that for now.
        
        Cheers!
    </p>
    {% endblock content %}
</body>
</html>