{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joe K Bullard</title>
</head>
<body>
        <header class="navbar">   
            <ul>
                <li><a class="logo" href="{% url 'index' %}">Home</a><li>
                <li><a href="https://github.com/joekbullard">Github</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
            </ul>      
        </header>
        <div class="page-wrap">
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        </div>

       
</body>

</html>