{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joe k Bullard</title>
</head>
<body>
    <main>
    {% block content %}
    <h1 class="title">Joe K Bullard</h1>
    <p>Thoughts and ramblings on geospatial, python and postgres related bits and bobs</p>
    <h2>Posts</h2>
    {% for post in posts %}
    <ul class="posts">
    <li class="post">
        <a href="{{ post.get_absolute_url }}">
            <date class="date">{{ post.formatted_date }}</date>
            <span>{{ post.title }}</span>
        </a>  
    </li>
    </ul>
    {% endfor %}
    {% endblock content %}
    </main>
</body>
</html>